# Fabric binaries
../bin/
bin/

# Generated crypto material
organizations/
system-genesis-block/
channel-artifacts/

# Logs & temp files
*.log
tmp/
wallet/
# Ignore large chaincode archive

chaincode-backup/bigdatacc/bigdatacc.tar.gz chaincode-backup/bigdatacc/bigdatacc.tar.gz
chaincode-backup/bigdatacc/bigdatacc.tar.gz
